

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px; /* Adjust the spacing as needed */
}

nav a {
    text-decoration: none;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

nav a:hover {
    background-color: #f0f0f0;
}


.activeLink {
    color: red; /* Change this to your desired active link color */
    font-weight: bold; /* Optional: Make the active link bold */
}
