/* VerticalTabs.css */

.vertical-tabs-container {
    display: flex;
    /* max-width: 600px; */
    margin: 20px auto;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .vertical-tabs {
    display: flex;
    flex-direction: column;
    width: 150px;
    border-right: 1px solid #ccc;
    background: linear-gradient(to bottom, #fff, #f9f9f9);
  }
  
  .tab {
    display: flex; /* Align stars to the left */
    align-items: center; /* Center vertically within the tab */
    padding: 15px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .tab:hover {
    background-color: #e0e0e0;
  }
  
  .tab.active {
    background-color: #007bff;
    color: #fff;
  }
  
  .tab-content {
    flex: 1;
    padding: 20px;
    border-left: 1px solid #ccc;
    background: linear-gradient(to right, #fff, #f9f9f9);
  }
  